<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajax cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="CartTemplate" type="text/template">
  
   {% raw %}
    <form action="/cart" method="post" novalidate class="cart ajaxcart">
      <div class="ajaxcart__inner">
      
      
      
      
      
        {{#items}}
        <div class="ajaxcart__product">
          <div class="ajaxcart__row" data-line="{{line}}">
            <div class="grid">
            
              <div class="grid__item one-third">
                <a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt=""></a>
              </div>
              
               <div class="grid__item two-thirds">
              
                <p>
                  <a href="{{url}}" class="ajaxcart__product-name">{{name}} <span>({{itemQty}})</span></a>
                </p>

                <div class="grid--full display-table">
                
                  <div class="grid__item display-table-cell">
                    {{#if discountsApplied}}
                      <small class="ajaxcart-item__price-strikethrough"><s>{{{originalLinePrice}}}</s></small>
                      <br><span>{{{linePrice}}}</span>
                    {{else}}
                      <span>{{{linePrice}}}</span>
                    {{/if}}
                    
                    <h2 class="cart__dropdown--remove" data-line="{{line}}">
                      <a>[Remove from cart]</a>
                    </h2>
                  </div>
                  
                  {{#if discountsApplied}}
                    <div class="grid--full display-table">
                      <div class="grid__item text-right">
                        {{#each discounts}}
                          <small class="ajaxcart-item__discount">{{ this.title }}</small><br>
                        {{/each}}
                      </div>
                    </div>
                  {{/if}}
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/items}}














        {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
          <div>
            <label for="CartSpecialInstructions">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
          </div>
        {% endraw %}{% endif %}{% raw %}
      </div>
      
      <div class="ajaxcart__footer">
        <a class="cart-button__container" href="/cart">
          <button class="btn edit-cart__button">
            Edit Cart
          </button>
        </a>
        <button type="submit" class="btn--secondary btn--full checkout__button" name="checkout">
          Proceed to Checkout
        </button>
      </div>
    </form>
  {% endraw %}
  
  
  
  
  
  
  </script>
  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{key}}" data-qty="{{itemMinus}}">
        
        <span>&minus;</span>
        
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{key}}" data-qty="{{itemAdd}}">
        
        <span>&plus;</span>
        
      </button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="{{key}}" data-qty="{{itemMinus}}">
        
        <span>&minus;</span>
        
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" max="10" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{key}}" data-qty="{{itemAdd}}">
        
        <span>&plus;</span>
        
      </button>
    </div>
  {% endraw %}
  </script>
