{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog' %}
  {%- assign social_icons = true -%}
{% endif %}


<div data-section-id="{{ section.id }}" data-section-type="instagram-feed">
  <div class="page-width">
    <div class="section instagram-feed">

      <div class="section-header grid">

        <div class="grid__item medium-up--one-third small--hide">
          <h3>{{ section.settings.instagram_hashtag }}</h3>
        </div>

        <div class="grid__item medium-up--one-third">
          {% if section.settings.instagram_title.size > 0 %}
            <h2 class="section-header__title text-center">
              <span>
              {% if section.settings.instagram_link != blank %}
                <a href="{{ section.settings.instagram_link }}" target="_blank">
                  {{ section.settings.instagram_title }}
                </a>
              {% else %}
                {{ section.settings.instagram_title }}
              {% endif %}
              </span>
            </h2>
          {% endif %}

          {% if section.settings.instagram_follow_text != blank %}
            <p class="text-center">
              {% if section.settings.instagram_link != blank %}
                <a href="{{ section.settings.instagram_link }}" target="_blank">
                  {{ section.settings.instagram_follow_text }}
                </a>
              {% else %}
                {{ section.settings.instagram_follow_text }}
              {% endif %}
            </p>
          {% endif %}
        </div>

        <div class="grid__item medium-up--one-third">
          {% if social_icons %}
            <div class="grid__item{% if section.settings.footer_newsletter_enable %} medium-up--one-quarter{% else %} text-center{% endif %}">
              <ul class="list--inline instagram-feed__icons social-icons">
                {% if settings.social_facebook_link != blank %}
                  <li>
                    <a class="social-icons__link"
                       href="{{ settings.social_facebook_link | escape }}"
                       title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}"
                       target="_blank">
                      {% include 'icon-facebook' %}
                      <span class="icon__fallback-text">Facebook</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_twitter_link != blank %}
                  <li>
                    <a class="social-icons__link"
                       href="{{ settings.social_twitter_link | escape }}"
                       title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}"
                       target="_blank">
                      {% include 'icon-twitter' %}
                      <span class="icon__fallback-text">Twitter</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_pinterest_link != blank %}
                  <li>
                    <a class="social-icons__link"
                       href="{{ settings.social_pinterest_link | escape }}"
                       title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}"
                       target="_blank">
                      {% include 'icon-pinterest' %}
                      <span class="icon__fallback-text">Pinterest</span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_instagram_link != blank %}
                  <li>
                    <a class="social-icons__link"
                       href="{{ settings.social_instagram_link | escape }}"
                       title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}"
                       target="_blank">
                      {% include 'icon-instagram' %}
                      <span class="icon__fallback-text">Instagram</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endif %}
        </div>

        <h3 class="text-center medium-up--hide">{{ section.settings.instagram_hashtag }}</h3>

      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Instagram Feed",
    "class": "index-section index-section--flush instagram-feed__container",
    "settings": [
    {
      "type": "text",
      "id": "instagram_user_id",
      "label": "User ID"
    },
    {
      "type": "text",
      "id": "instagram_access_token",
      "label": "Access Token"
    },
    {
      "type": "text",
      "id": "instagram_title",
      "label": "Header",
      "default": "@EUGENIAKIM"
    },
    {
      "type": "text",
      "id": "instagram_follow_text",
      "label": "caption",
      "default": "FOLLOW US ON INSTAGRAM"
    },
    {
      "type": "url",
      "id": "instagram_link",
      "label": "Text link"
    },
    {
      "type": "text",
      "id": "instagram_hashtag",
      "label": "Hashtag",
      "default": "#EUGENIAKIM"
    },
    {
      "type": "checkbox",
      "id": "image_padding",
      "label": "Enable image padding"
    }
  ],
    "presets": [{
    "name": "Instagram Feed",
    "category": "Image"
  }]
  }

{% endschema %}
