{%- assign show_theme = true -%}
{% if show_theme %}


<div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  
   
 
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}

  <div class="grid product-single" data-section-id="{{ section.id }}" data-section-type="product-customizer">

    {% if current_variant.compare_at_price > current_variant.price %}
      <span class="medium-up--hide sale__label">Final Sale</span>
    {% endif %}
    
    {%comment%}
    <h1 itemprop="name" class="medium-up--hide product-single__title">{{ product.title }}</h1>
    {%endcomment%}

    <div class="product-section-container" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      
     <div class="product__price">
       {% include 'product-price-two', variant: current_variant, show_vendor: section.settings.show_vendor %}
      </div>
      
     
      
     

      <div class="grid__item ek-product-single product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
        
        <div class="upper__photos">
          <div class="product-slide-custom-product">
            {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
            {% for image in product.images %}

              {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
              {% capture img_class %}product-featured-img{% endcapture %}
              {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

              {% if image.alt contains 'front' or image.alt contains 'back' %}

              {% else %}
              <div class="product-slide" data-alt="{{ image.alt | escape }}">
                <img src="{{ image | img_url: '800x800' }}"
                     data-src="{{ img_url }}"
                     data-id="{{ image.id }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ image.alt | escape }}">
              </div>
              {% endif %}
            {% endfor %}
            
                 
           <div id="customizable-text-on-image" style="font-family:'Mr De Haviland', cursive;" class="input-customizable-text custom-init {% unless product.tags contains 'text-box' %}d-none{%endunless%}">Custom Text Here</div>
           <div id="customizable-text-on-image-two" style="font-family:'Mr De Haviland', cursive;" class="input-customizable-text custom-after {% unless product.tags contains 'text-box' %}d-none{%endunless%}">Custom Text Here</div>
       
          </div>

       
          
          
      	</div>
        
        
      
        
        
        <div class="lower_photos">
          	<div class="ek-steps">
              	<span class="icon icon-trim-color"></span>
              	<span>Choose your trim color</span>
          	</div>
            <div class="ek-steps">
              	<span class="icon icon-text"></span>
        		<span>Type your custom text</span>
          	</div>
            <div class="ek-steps">
              	<span class="icon icon-text-color"></span>
        		<span>Choose your text color</span>
          	</div>
        </div>
       </div>
      


      <div class="grid__item large-up--one-third medium--one-half product_description_item">
        <div class="product-single__meta">
          {% if current_variant.compare_at_price > current_variant.price %}
            <span class="small--hide sale__label">Final Sale</span>
          {% endif %}
          <h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>

          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            
            
            
           
            
            
            
            <!-- desktop price -->
            <p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
              {% if current_variant.compare_at_price > current_variant.price %}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <s class="compare-price">{{ current_variant.compare_at_price | money }}</s>
                  <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                    <span id="ProductPrice-{{ section.id }}"
                      itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                      {{ current_variant.price | money }}
                    </span>
                  </span>
                  <br>
                  <!-- <s class="compare-price">(You save {{ current_variant.compare_at_price | minus: current_variant.price | money }} )</s> -->
              {% else %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s class="hide">{{ current_variant.compare_at_price | money }}</s>
                <span class="product-price__price product-price__price-{{ section.id }}">
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {{ current_variant.price | money }}
                  </span>
                </span>
              {% endif %}
              {% if product.variants.first.sku != blank %}
                <span class="style-number">Style #:{{ product.variants.first.sku }}</span>
              {% endif %}
            </p>
            
            
            
            
            {%if section.settings.custom-text%}
            <div class="sk-custom-text">
              <p>{{section.settings.custom-text}}</p>
            </div>
            {%endif%}
            
            
            
            
            
            
            <!-- Current inventory -->
            <div id="variant-inventory">
              {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity == 2 %}
                Only 2 Left
                {% elsif product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity == 1 %}
                Last One!
              {% endif %}
            </div>
            <!-- Current inventory  -->

          <form action="/cart/add" method="post" autocomplete="off" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">

			{% unless product.has_only_default_variant %}
              <div class="product-form__controls-group">
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js product-form__item">
                    <label for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      data-index="option{{ forloop.index }}"
                    >
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              </div>
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                >
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>
                  
             {% if product.tags contains 'text-box' %}
                <div class="product-form__controls-group">
                  <div class="selector-wrapper js product-form__item">
                      <label class="option--label">
                      <span>Your custom text</span>
                    </label>
                  </div>

                  <p class="line-item-property__field">
                    <label for="custom-text" class="ek-d-none">Custom Text</label>
                    <input required class="required" id="custom-text" placeholder="Custom Text Here" type="text" maxlength="20" name="properties[Custom Text]">
                  </p>  
                </div>
              {% endif %}
            	      	


                  <div class="product-form__btn-container">
                    {% if section.settings.show_quantity_selector %}

                      <div class="quantity-selector">
                        <input type="number" id="Quantity" name="quantity" value="1" pattern="[0-9]*" max="2"/>
                      </div>

                    {% endif %}

                    <div class="product-form__item product-form__item--submit">
                      <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %} AddToCart">
                        <span id="AddToCartText-{{ section.id }}">
                          {% unless current_variant.available %}
                            {{ 'products.product.sold_out' | t }}
                          {% else %}
                            {{ 'products.product.add_to_cart' | t }}
                          {% endunless %}
                        </span>
                      </button>
                    </div>
                 </div>
                 
           </form>
          
            
            
            
            
            
            
             
           
            
            
            
      <ul class="vertical menu accordion-menu pdp-custom-acc" data-accordion-menu>
        <li>
          <a class="accordion-a" href="#">
            Product Details
             <img class="dropdown-symbol"  src="{{'plus.svg' | asset_url}}" />
             <img class="d-none dropdown-symbol" src="{{'minus.svg' | asset_url}}" />
          </a>
          <ul class="menu vertical nested">
            <li>
            {% if product.description != blank %}
                <div class="rte product-single__description" itemprop="description">
                  {{ product.description }}
                </div>
              {% endif %}
            </li>
           
          </ul>
        </li>
        <li>
          <a class="accordion-a" href="#">
            Storage &amp; Care
             <img class="dropdown-symbol" src="{{'plus.svg' | asset_url}}" />
             <img class="d-none dropdown-symbol" src="{{'minus.svg' | asset_url}}" />
          </a>
          <ul class="menu vertical nested">
            <li>
            	  <div class="product__details">
                  {% if product.metafields.c_f.product_size_info %}
                    <p>{{ product.metafields.c_f.product_size_info }}</p>
                  {% endif %}
                   {% comment %}
                  {% if product.metafields.c_f.product_style_info %}
                    <p>{{ product.metafields.c_f.product_style_info }}</p>
                  {% endif %}
                  {% endcomment %}
                  {% if product.metafields.c_f.product_orgin_info %}
                    <p>{{ product.metafields.c_f.product_orgin_info }}</p>
                  {% endif %}
                  {% if product.metafields.c_f.product_cleaning_info %}
                    <p>{{ product.metafields.c_f.product_cleaning_info }}</p>
                  {% endif %}

                  <p class="product__details--link storage-care__link"><a href="/pages/storage-and-care" target="_blank">Storage &amp; Care</a><p>
                  {% comment %}<div class="storage-care__dropdown"> {{ pages['storage-and-care'].content }} </div>{% endcomment %}
                  {% comment %}<p class="product__details--link size-guide__link"><a href="#">Size Guide</a></p>{% endcomment %}
                  {% comment %}<div class="size-guide__dropdown">{{ pages['size-guide'].content }}</div>{% endcomment %}
                </div>
            </li>    
          </ul>
        </li>
      </ul>  
          
          
    
       
            

        {% if section.settings.show_share_buttons %}
                  {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                {% endif %}
        {% if product.available == false %}
          <button id="BIS_trigger" class="btn product-form__cart-submit product-form__cart-submit--small AddToCart">NOTIFY ME WHEN BACK IN STOCK.</button>
        {% endif %}
      </div>

      <!--Product Details -->
     

        <!-- Face Shapes -->
        {% if section.blocks.size > 0 %}

          {% assign face_collection_exists = false %}

          {% for block in section.blocks %}
            {% for collection in product.collections %}
              {% if collection.handle == block.settings.shape_collection %}
                {% assign face_collection_exists = true %}
              {% endif %}
            {% endfor %}
          {% endfor %}


          {% if face_collection_exists %}
            <p class="face-shape__title">Perfect for these face shapes</p>
            <div class="face-shape">
              {% for block in section.blocks %}
                {% for collection in product.collections %}
                  {% if collection.handle == block.settings.shape_collection %}
                    <a href="{{ collection.url }}"><img src="{{ block.settings.shape-icon | img_url: '300x300' }}"></a>
                  {% endif %}
                {% endfor %}
              {% endfor %}

              {% for block in section.blocks %}
                {% if block.settings.shape_collection %}
                  {% for collection in product.collections %}
                    {% if product.collection == block.settings.shape_collection %}
                      <img src="{{ block.settings.shape-icon | img_url: '300x300' }}">
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}

              <p><a href="/pages/face-shape">Learn more about face shapes</a></p>

            </div>
          {% endif %}

        {% endif %}

      </div>
      </div>
    </div>
  </div>
  
  <div class="instagram-feed">
    <div class="section-header grid">
      <div class="grid__item">
        {% if section.settings.customerphotos_title != blank %}
        <h2 class="section-header__title text-center">
          	<span><a href={{ 'https://www.instagram.com/' | append: section.settings.customerphotos_instagram | downcase }} target="_blank">{{section.settings.customerphotos_title}}</a></span>
        </h2>
        {% endif %}
        {% if section.settings.customerphotos_title != blank %}
        	<p class="text-center"><a href={{ 'https://www.instagram.com/' | append: section.settings.customerphotos_instagram | downcase }}>{{section.settings.customerphotos_subtitle}}</a></p>
        {% endif %}
      </div>
    </div>
    <div class="grid">
    {% for block in section.blocks %}
      
      <div class="instagram-feed__image instagram-feed__image--padded grid__item medium-up--one-third small--one-whole">
        <div class="insta-thumb">
          <a href="{{block.settings.url_photos}}" title="{{block.settings.alt_photos}}" style="background: #fff url({{block.settings.image_customers | img_url: '540x540'}}); background-position: center; background-repeat: no-repeat; background-size: cover;" target="_blank">
            
          </a>
        </div>
      </div>
      
     {% endfor %}
    </div>
  </div>
  
  {% endif %}


{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}
  
  
  
   {%comment%}
    <div class="swatches-container">
      {% if product.available and product.variants.size > 1 %}
        {% for option in product.options %}
          {% include 'swatch' with option %}
        {% endfor %}
      {% endif %}
    </div>
    {%endcomment%}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
  	  {
         "type": "textarea",
         "id": "custom-text",
         "label": "Custom Text"
      },
  	  {
         "type": "text",
         "id": "customerphotos_title",
         "default": "EugeniaKim in Real life",
         "label": "Title"
      },
  	  {
         "type": "text",
         "id": "customerphotos_subtitle",
         "default": "SEE PHOTOS OF OUR CUSTOMERS",
         "label": "Sub Title"
      },
  	  {
         "type": "text",
         "id": "customerphotos_instagram",
         "default": "eugeniakimnyc",
         "label": "Instagram"
      }
  
    ],
  	"max_blocks": 6,
    "blocks": [
      {
        "type": "text",
        "name": "Add Photos",
        "settings": [
          {
            "type": "text",
            "id": "url_photos",
            "label": "URL"
          },
  		  {
            "type": "text",
            "id": "alt_photos",
  			"default": "eugeniakimnyc",
            "label": "Alt Tag"
          },
          {
            "type": "image_picker",
            "id": "image_customers",
            "label": "Image of Customers"
          }
        ]
      }
    ]
  }
{% endschema %}
  



  
